.header {
  width: 100%;
  height: 56px;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1 {
  font-weight: normal;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
}
