.wrapper {
  width: 350px;
  height: 370px;
  overflow: hidden;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #262525;
  display: block;
  transition: 0.3s linear all;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
}
.wrapper:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.image {
  width: 100%;
  height: 250px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.details {
  padding: 10px;
}
.name {
  font-size: 14px;
}
.yearKm {
  padding: 10px 0;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 850px) {
  .wrapper {
    width: 100%;
  }
}
